@page "/"

<h1>Bem-vindo à Plataforma Comunitária de Críticas de Filmes!</h1>

<p>Crítica Filmes é o espaço ideal para os amantes do cinema compartilharem suas opiniões e experiências sobre os filmes que assistiram recentemente.</p>

<h2>Por que usar Crítica Filmes?</h2>
<ul>
    <li><strong>Compartilhe sua paixão pelo cinema:</strong> Publique suas críticas e leia o que outros cinéfilos têm a dizer.</li>
    <li><strong>Descubra novos filmes:</strong> Encontre recomendações e descubra filmes que você pode ter perdido.</li>
    <li><strong>Participe da comunidade:</strong> Interaja com outros usuários, comente em críticas e participe de discussões.</li>
</ul>

<h2>Como Funciona</h2>
<p>É fácil começar a usar Crítica Filmes:</p>
<ol>
    <li><strong>Escreva sua crítica:</strong> Após assistir a um filme, preencha o formulário com o nome do filme, sua análise, seu nome e a avaliação em estrelas.</li>
    <li><strong>Publique sua crítica:</strong> Suas opiniões serão visíveis para todos na plataforma.</li>
    <li><strong>Interaja:</strong> Leia, comente e interaja com outras críticas postadas por outros usuários da comunidade.</li>
    <li><strong>Modere o conteúdo:</strong> Qualquer usuário pode editar ou excluir críticas, reforçando o senso de comunidade e mantendo o conteúdo relevante e de qualidade.</li>
</ol>

<h2>Junte-se a Nós!</h2>
<p>Não perca tempo! Comece a compartilhar suas críticas de filmes com uma comunidade de apaixonados por cinema. Participe, interaja e descubra novos filmes através das experiências de outros usuários.</p>

